{% extends "base.html" %}
{% block content %}

<h2>Book a Car</h2>

{% if success %}
<div class="alert alert-success">{{ success }}</div>
{% endif %}

<form method="POST">

    <div class="mb-3">
        <label>Select Car</label>
        <select name="car_id" class="form-control" required>
            {% for car in cars %}
            <option value="{{ car._id }}">
                {{ car.brand }} {{ car.model }} ({{ car.body_type }})
            </option>
            {% endfor %}
        </select>
    </div>

    <button class="btn btn-success">Confirm Booking</button>
</form>

{% endblock %}

