{% extends "base.html" %}
{% block content %}

<div class="col-md-6 mx-auto">

    <h2 class="mb-4">Login</h2>

    {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
    {% endif %}

    <form method="POST" class="p-4 border rounded bg-white shadow-sm">

        <div class="mb-3">
            <label class="form-label"><strong>Email</strong></label>
            <input type="email" name="email" class="form-control" required placeholder="Enter your email">
        </div>

        <div class="mb-3">
            <label class="form-label"><strong>Password</strong></label>
            <input type="password" name="password" class="form-control" required placeholder="Enter your password">
        </div>

        <button class="btn btn-dark w-100 mb-3">Login</button>

        <p class="text-center">
            Don’t have an account?
            <a href="/signup">Sign up</a>
        </p>

    </form>

</div>

{% endblock %}

